{{#each success}}
  <div class="alert alert-danger">{{this}}</div>
{{/each}}

<header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>Swipe</h1>
          <hr class="small">
          <span class="subheading">{{user.firstName}} {{user.lastName}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-1 col-lg-offset-2 col-md-10 col-md-offset-1">
      <img src="/profile_pics/{{profile.profileImage}}" class="img-rounded" alt="" style="width:200px">
    </div>
    <hr class="divider">
    <br>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{#each local_users}}
          <div class="user-preview">
                  
                  <h2 class="user name">
                      {{this.user.firstName}} {{this.user.lastName}}
                      <img src="/profile_pics/{{this.profileImage}}" class="img-rounded" alt="" style="width:200px">
                  </h2>
                  <div class="col-lg-1 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                  </div>
              </a>
          </div>
          <hr>
        {{/each}}
    </div>
  </div>
</div>